
            <section class="footer-oss">
                <h4>Open source</h4>
                <p>
                    As a work of the United States Government, source code released by 18F is in the public
                    domain by default within the United States.
                    <a href="https://github.com/18F/open-source-policy/blob/master/policy.md">
                        View our full source code policy.
                    </a>
                </p>
            </section>


            <section class="footer-links">
                <ul>
                    <li>
                        <a href="http://www.ed.gov/">ed.gov</a>
                    </li>
                    <li>
                        <a href="http://github.com/18F">github.com/18F</a>
                    </li>
                    <li>
                        <a href="">Work with us</a>
                    </li>
                    <li>
                        <a href="">Contact us</a>
                    </li>
                </ul>
            </section>



