---
---
<!doctype html>
<html>
<head>
  {% include head.html %}
  <title>Department of Education - Developer Resources</title>
</head>
<body>
  <!-- Google Tag Manager -->

<!-- End Google Tag Manager -->

  <header class="header cf" role="banner">
      {% include header.html %}
  </header>

  <div class="wrap">
    <div class="content">

    <aside>
    {% include nav.html %}
    </aside>

    <section class="main-content" role="main">
      {{ content }}
    </section>

    </div>
  </div> <!--wrap-->

    <footer class="footer cf" role="contentinfo">
      <div class="wrap">
        {% include footer.html %}
      </div>
    </footer>
  <script src="/ED-Developer-Hub/static/js/docs.min.js"></script>
  <script type="text/javascript" src="/ED-Developer-Hub/static/js/expandables.js"></script>
</body>
</html>
